wegwiesel.app {
	# BRouter API
	handle /brouter* {
		reverse_proxy brouter:17777
	}

	# Overpass API (eigener Server)
	handle_path /overpass/* {
		reverse_proxy overpass:80
	}

	# Flutter Web App
	handle {
		root * /srv/web
		try_files {path} /index.html
		file_server
	}
}

# Redirects auf Hauptdomain
wegwiesel.de, www.wegwiesel.de, wegwiesel.com, www.wegwiesel.com, www.wegwiesel.app {
	redir https://wegwiesel.app{uri} permanent
}
